 <!-- Page Content -->
<div class="location-container container">

  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Locations
      </h1>
    </div>

  </div>

  <!-- Page Content -->
  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Bangalore</h4>
        </div>
        <div class="panel-body">

          <p><b>AutoSec Systems</b></p>
          <p>
            381, Ananth nagar 3rd phase,<br>Electronic city 2nd phase, Bangalore - 560100<br><br>
          </p>
          <p>
            <i class="fa fa-phone"></i>
            <abbr title="Mobile">M</abbr>: 9884580511
          </p>
          <p>
            <i class="fa fa-envelope"></i>
            <abbr title="Email">E</abbr>: <a class="link">autosecsystemsbangalore@gmail.com</a>
          </p>
          <p>
            <i class="fa fa-clock"></i>
            <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4> Chennai</h4>
        </div>
        <div class="panel-body">
          <p><b>AutoSec Systems</b></p>
          <p>
            33, Kamarajar Salai, Shop No 7,<br>1st Floor, Venkatesh Nagar, <br> Virugampakkam, Chennai - 600092<br>
          </p>
          <p>
            <i class="fa fa-phone"></i>
            <abbr title="Mobile">M</abbr>: 9884580511 , 8197410511
          </p>
          <p>
            <i class="fa fa-envelope"></i>
            <abbr title="Email">E</abbr>: <a class="link">autosecsystemschennai@gmail.com</a>
          </p>
          <p>
            <i class="fa fa-clock"></i>
            <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Madurai</h4>
        </div>
        <div class="panel-body">

          <p><b>AutoSec Systems</b></p>
          <p>
            18-2-2, Theni Main Road,<br>Virattipathu, Madurai - 625016<br><br>
          </p>
          <p>
            <i class="fa fa-phone"></i>
            <abbr title="Mobile">M</abbr>: 8754965478
          </p>
          <p>
            <i class="fa fa-envelope"></i>
            <abbr title="Email">E</abbr>: <a class="link">autosecsystemsmadurai@gmail.com</a>
          </p>
          <p>
            <i class="fa fa-clock"></i>
            <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM
          </p>
        </div>
      </div>
    </div>

  </div>


  <!-- /.row -->

</div>
