 <!-- Page Content -->
<div class="container">

  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        About Us
      </h1>
    </div>

  </div>
  <!-- Image Header -->
  <div class="row">
    <div class="col-md-6 pull-left">
      <img class="img-responsive imgHeader" src="../../../../assets/images/Logo_about.jpg" alt="">
    </div>
    <div class="col-md-6 pull-right">

      <h2>AutoSec Systems</h2>
      <label>Automation and Security Solution</label>
      <article>
        A solution providing company, which was established in 2016, for security surveillance and automation systems of residential and commercial sector.

        We are supporting South India (Tamil Nadu, Pondicherry, Karnataka, Andhra Pradesh & Kerala) as our service providing territory. Our team is fully reinforced by expert professionals from Security and automation domain.

        Our Mission and Vision is to support our End Users / Customer for the most competitive solutions in residential and commercial security surveillance and automation systems.

        Our goal is to provide best in class reliable products and services to out customer.

        We have highly experienced professionals from security and automation domain.

        We are representing products of <span>Shenzhen VStarcam Technology Co., Ltd., Shenzhen, China.</span>

      </article>
    </div>

  </div>
  <hr class="hr-primary" />
  <h2>Why AutoSec Systems</h2>
  <div class="row">

    <div class="col-lg-12">
      <ul class="bullet-points">
        <li>
          Low Cost
        </li>
        <li>
          Complete wireless system
        </li>

        <li>
          Low Maintanance
        </li>
        <li>
          Ability to make security system for larger area with low cost on wireless
        </li>
        <li>
          On site/Remote support
        </li>
        <li>
          Often have SD cards, allowing them to record locally, or sends video via the internet to an NVR
        </li>
        <li>
          Standalone Security camera for small premises
        </li>
        <li>
          Often have SD cards, allowing them to record locally, or sends video via the internet to an NVR
        </li>
        <li>
          IP camera has inbuilt storage.
        </li>
        <li>
          Live stream can be viewed from anywhere in the world with internet data connectivity.
        </li>
        <li>
          Broadcasts video as a digital stream over an IP network to an NVR (network video recorder) where videos are stored digitally rather than physically
        </li>
        <li>
          IP cameras are capable of capturing high definition,megapixel images
        </li>
        <li>
          Uses PoE (Power over Ethernet) making it unnecessary to run power cables
        </li>
        <li>
          Some cameras feature increased resolution of 4096 x 2160. Standard resolution tends to be 1080p HD.
        </li>
        <li>
          Includes advanced features such as analytics, advanced motion detection, and remote focus
        </li>
        <li>
          Can add nearly unlimited cameras to the network
        </li>
        <li>
          2-way audio for communication with people on the other end
        </li>

      </ul>
    </div>

  </div>
  <hr class="hr-primary" />
  <h2>Our Systems</h2>
  <div class="row">

    <div class="col-md-4">
      <img class="img-workflow" src="../../../../assets/images/1.jpg" alt="">
    </div>
    <div class="col-md-4">
      <img class="img-workflow" src="../../../../assets/images/4.jpg" alt="">
    </div>
    <div class="col-md-4">
      <img class="img-workflow" src="../../../../assets/images/3.jpg" alt="">
    </div>
  </div>

  <hr class="hr-primary" />
  <h2>Our Partners</h2>
  <div class="row">
    <div class="col-lg-12">
      <img class="img-responsive" src="../../../../assets/images/gff.png" alt="">
    </div>
    <div class="col-lg-12">
      <ul class="bullet-points">
        <li>
          Shenzhen VStarcam Technology Co., Ltd., is a professional IP camera manufacturer, the companyhas many years experience in the surveillanceindustry R & D, strict quality control processes,professional service for customers to create theperfect video security monitoring overall solutionprogram.
        </li>
        <li>
          Products include infrared waterproof camera, PTZ network cameras, gun-type network camera,network dome camera, high definition networkcameras, IP camera, wireless video cameras!
        </li>

        <li>
          VSTARCAM is selling security products in China, US,Hong Kong , Dubai ,Indonesia ,Malaysia , Singapore.
        </li>
        <li>
          VSTAR CAM is having very good rating in Amazon US market.
        </li>
        <li>
          They have good rating on DUBAI ,Indonesia and Singapore as well.
        </li>
      </ul>
      <img class="img-responsive imgParter pull-left" src="../../../../assets/images/vstarcam1.jpg" alt="">
      <img class="img-responsive imgParter  pull-right" src="../../../../assets/images/vstarcam3.jpg" alt="">
    </div>
  </div>
  <hr class="hr-primary" />
  <h2>Our Customers</h2>
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-8">
      <a href="http://www.mkuniversity.org" target="_blank">
        <span lang="en-in"><strong>MADURAI KAMARAJ UNIVERSITY</strong></span>
        <img class="img-responsive imgShowcase" src="../../../../assets/images/mku-logo.jpg" alt="">
      </a>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-8">
      <a href="http://www.thiruvalluvarinstitutes.com/" target="_blank">
        <span lang="en-in"><strong>THIRUVALLUVAR GROUP OF INSTITUTES</strong></span>
        <img class="imgShowcase" src="../../../../assets/images/ThiruvalluvarElumalai-logo.jpg" alt="">
      </a>
    </div>
  </div>
</div>

