
        <div class="row product-pod">

          <div class="col-md-4">
            <img class="detailsImgHead" src="../../../../../assets/data/Products/{{this.productName}}.jpg?v={{this.cacheBuster}}" alt="">
          </div>
          
          <div class="col-md-4">
            <h3>{{headers.Header}}</h3>

            <p>{{headers.Desc}}</p>
          </div>
        </div>
 
        
          <ngb-tabset class="services-tab">

            <ngb-tab>
              <ng-template ngbTabTitle><span class="tab-header">Product Description</span></ng-template>
              <ng-template ngbTabContent>
                <div class="image-container">
                  <hr>
                  <ng-container *ngFor="let item of imageData.ProdDes.Images;  index as i">
                        <img src="../../../../../assets/data/Products/{{this.productName}}_Des/{{i+1}}.jpg?v={{this.cacheBuster}}" class="img img-sizing" alt="">
                  </ng-container>
                </div>
              </ng-template>
            </ngb-tab>

            <ngb-tab>
              <ng-template ngbTabTitle><span class="tab-header">Product Specification</span></ng-template>
              <ng-template ngbTabContent>
                <table class="table">
                  <caption class="caption"><h4>{{headers.ModelHeader}}</h4></caption>
                  <ng-container  *ngFor="let item of tableData.ProductSpec.tableValues; let i = index">                                
                      <ng-container *ngFor="let inner of item.values; let th = index">
                        <tr class="tr">
                          <th [attr.rowspan]="item.values.length" class="td1" *ngIf="item.name && th == 0">{{item.name}}</th>
                          <td class="td2"> {{inner.name}}</td>
                          <td class="td3"> {{inner.value}}</td>
                        </tr>
                      </ng-container>
                  </ng-container>
                </table>
               
              </ng-template>
            </ngb-tab>

 

          </ngb-tabset>
        



  




