<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <!--<a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>-->
    <div class="logo" (click)="goToHome()"><img src="../../../../assets/images/logo_micro.jpg" style="width:13vw;"> </div>
  </div>



</div>
<div _ngcontent-c4="" class="header-container">
  <h6>
    <abbr>Support : <b><i class="fa fa-whatsapp" style="color: green;"></i>
      </b> +91-9884580511<b> &nbsp; &nbsp; &nbsp;| &nbsp;&nbsp; &nbsp; </b>
    </abbr>
    <abbr>Sales : <b><i class="fa fa-whatsapp" style="color: green;"></i>
      </b>+91-9148959512
    </abbr>
  </h6>
</div>
<div class="header-container nav-top-menu">
  <nav class="navbar navbar-expand-lg navbar-dark">

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item active" [ngClass]="{'active': selectedItem == 'home'}">
          <a (click)="pageRoute('home')" class="nav-link">Home</a>
        </li>
        <li class="nav-item" [ngClass]="{'active': selectedItem == 'about'}">
          <a (click)="pageRoute('about')" class="nav-link">About Us</a>
        </li>
        <li class="nav-item" [ngClass]="{'active': selectedItem == 'products'}">
          <a (click)="pageRoute('products')" class="nav-link">Products</a>
        </li>
        <li class="nav-item" [ngClass]="{'active': selectedItem == 'services'}">
          <a (click)="pageRoute('services')" class="nav-link">Services</a>
        </li>
        <li class="nav-item" [ngClass]="{'active': selectedItem == 'locations'}">
          <a (click)="pageRoute('locations')" class="nav-link">Locations</a>
        </li>
        <li class="nav-item" [ngClass]="{'active': selectedItem == 'contactus'}">
          <a (click)="pageRoute('contactus')" class="nav-link">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>

</div>
