 <!-- Page Content -->
<div class="container">

  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Send us a Message
      </h1>
    </div>

  </div>

  <!-- Page Content -->
  <!-- Contact Form -->
  <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
  <div class="row">
    <div class="col-md-8">
      <h3></h3>
      <form #contactForm="ngForm" name="sentMessage" id="contactForm" novalidate>
        <div class="control-group form-group">
          <div class="controls">
            <label>Type of enquiry:</label><br />
            <label class="form-check-inline" style="margin-right:0px !important">
              <input class="form-check-input" type="radio" name="IsEnquiry" [value]="true" [(ngModel)]="contactDetails.IsEnquiry">
            </label>
            <label style="width:60px;line-height:2.5;">Sales </label>
            <label class="form-check-inline" style="margin-right:0px !important">
              <input class="form-check-input" type="radio" name="IsEnquiry" [value]="false" [(ngModel)]="contactDetails.IsEnquiry">
            </label>
            <label style="width:80px;line-height:2.5;">Support </label>
          </div>
        </div>
        <div class="control-group form-group">
          <div class="controls">
            <label>Full Name:</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="contactDetails.FullName" #name="ngModel" id="name" required>
            <div class="error-Msg-Length">
              <span [hidden]="!name?.errors">Please enter your name.</span>
            </div>
          </div>
        </div>
        <div class="control-group form-group">
          <div class="controls">
            <label>Phone Number:</label>
            <input type="tel" class="form-control" name="phone" id="phone" #phone="ngModel" [(ngModel)]="contactDetails.PhoneNumber" required>
            <div class="error-Msg-Length">
              <span [hidden]="!phone?.errors">Please enter your phone number.</span>
            </div>
          </div>
        </div>
        <div class="control-group form-group">
          <div class="controls">
            <label>Email Address:</label>
            <input type="email" class="form-control" id="email" [email]="true" #email="ngModel" name="email" [(ngModel)]="contactDetails.EmailAddress" required>
            <div class="error-Msg-Length">
              <span [hidden]="!email?.errors">Please enter your email  .</span>
            </div>
          </div>
        </div>
        <div class="control-group form-group">
          <div class="controls">
            <label>Message:</label>
            <textarea rows="10" cols="100" class="form-control" #message="ngModel" name="message" [(ngModel)]="contactDetails.Message" id="message" required maxlength="999" style="resize:none"></textarea>
            <div class="error-Msg-Length">
              <span [hidden]="!message?.errors">Please enter your message  .</span>
            </div>
          </div>
        </div>
        <div id="success"></div>
        <!-- For success/fail messages -->
        <button [disabled]="!contactForm.form.valid" (click)="sendMessage()" class="btn btn-primary">Send Email</button>
      </form>
    </div>
    <!--pod starts-->
    <div class="col-md-4">
     
      <div class="panel panel-default panel-spacing">
          <div class="panel-heading">
            <h4><i class="fa fa-address-card-o"></i> Support</h4>
          </div>
          <div class="panel-body">
            <h6><i class="fa fa-whatsapp"></i> +91-9884580511</h6>
            <h6><i class="fa fa-envelope-o"></i> autosecsystemsbangalore@gmail.com</h6>
          </div>
      </div>

      <div class="panel panel-default panel-spacing">
        <div class="panel-heading">
          <h4><i class="fa fa-address-card-o"></i> Sales</h4>
        </div>
        <div class="panel-body">
          <h6><i class="fa fa-whatsapp"></i> +91-9148959512</h6>
          <h6><i class="fa fa-envelope-o"></i> autosecsystemsmadurai@gmail.com</h6>
        </div>
      </div>
   

    </div>
    <!--pod ends-->
  </div>
  <!-- /.row -->

</div>

