 <!-- Page Content -->
<div class="container">

  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Services
      </h1>
    </div>

  </div>
  <!-- Image Header -->
  <div class="row">
    <div class="col-lg-12">
      <img class="img-responsive imgHeader" src="../../../../assets/images/panel1.jpg"  alt="">
    </div>
  </div>
  <ngb-tabset class="services-tab">

    <ngb-tab>
      <ng-template ngbTabTitle><span class="tab-header">Point-To-Point</span></ng-template>
      <ng-template ngbTabContent>
        <p>Wireless links may be up to 2 KM in distance when using high-powered 5.8Ghz radios with dish antennas.</p>
        <p>Each wireless IP video system is customized to fit your specific application. Wireless systems are typically sh ipped pre-configured and documented for your specific project.</p>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle><span class="tab-header">Campus Networks</span></ng-template>
      <ng-template ngbTabContent>
        <p>We will provide full package for campus network.We can cover and control full college,school and Industrial specific.We will provide full wireless network to campus.It is low cost for wireless campus network.</p>
        <p>It is not possible Wired camera (CCTV ) for campus network IP Camera.</p>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle><span class="tab-header">Security Sensor Alarm</span></ng-template>
      <ng-template ngbTabContent>
        <p>In Industrial some restrict area set the motions sensor.You will get alarm in the system and notification to mobile.We will provide attendance for face detecting sensor.</p>
        <p>Auto note vehicle number system.It will note all vehicle number and timing in the cloud .</p>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle><span class="tab-header">Storage</span></ng-template>
      <ng-template ngbTabContent>
        <p>We have provide 3 type of storage for security systems.If lost any one ,We can get data any of one.</p>
        <p>
          It is wireless solution , You can hide the NVR storage any where in the campus.SD card support up to 256 GB (80 days standard wireless camera).NVR is support SSD hard disk up to 8TB.Support 4CH,8CH and 16 CH .(4 camera 180 days standard wireless camera) Cloud storage.

        </p>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>

</div>

