.product-pod {
  background-color: #fff;
  padding: 10px;
}
.tab-header {
  color: #0094ff;
}

.services-tab {
  margin-top:20px;
  padding: 10px;
}

:host ::ng-deep .tab-pane {
  background: #fff;
  padding-left: 25px;
  padding-right: 10px;
  padding-bottom: 100px;
  padding-top: 50px;
}
.img-sizing {
  margin:0 auto 0;
  display:block;
}
.table {
}

.tr {
  border: 1px;
}

.td1 {
  border: 1px solid #cecfd5;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
}

.td2 {
  border: 1px solid #cecfd5;
  border-bottom:0;
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
}

.td3 {
  border: 1px solid #cecfd5;
  border-bottom: 0;
  padding: 10px 15px;
}
tr .td1, .td2:first-child,
tr .td1, .td2:last-child {
  border: 1px solid #cecfd5;
}
.caption {
  font-size: large;
  font-style: inherit;
  text-align: center;
  border: 1px solid gray;
}

.detailsImgHead {
  transition: transform .2s; /* Animation */
  width: 300px;
  height: auto;
}

.detailsImgHead:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  z-index: 999;
}
