<!-- Slider main container -->
<ngb-carousel #carousel>
  <ng-template ngbSlide>
    <img src="../../../../assets/images/c34s.jpg" alt="Random first slide">
    <!--<div class="carousel-caption">
      <h3>10 seconds between slides...</h3>
      <p>This carousel uses customized default values.</p>
    </div>-->
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../../../assets/images/c38s.jpg" alt="Random second slide">
    <!--<div class="carousel-caption">
      <h3>No keyboard...</h3>
      <p>This carousel uses customized default values.</p>
    </div>-->
  </ng-template>
  <ng-template ngbSlide>
    <img src="../../../../assets/images/c51s.jpg" alt="Random third slide">
    <!--<div class="carousel-caption">
      <h3>And no wrap after last slide.</h3>
      <p>This carousel uses customized default values.</p>
    </div>-->
  </ng-template>
</ngb-carousel>


  <!-- Page Content -->
  <div class="container">

    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Welcome to AutoSec Systems
        </h1>
      </div>


      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><i class="fa fa-fw fa-check"></i> About us</h4>
          </div>
          <div class="panel-body">
            <p>A solution providing company, which was established in 2016, for security surveillance and automation systems of residential and commercial sector.We are supporting South India (Tamil Nadu, Pondicherry, Karnataka, Andhra Pradesh...... </p>
            <button (click)="gotoLocation('aboutus')" class="btn btn-primary">Learn More</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><i class="fa fa-fw fa-gift"></i> Products</h4>
          </div>
          <div class="panel-body">
            <p>
              We offer the state of art High definition (HD0 wireless digital cameras along
              with appropriate synthesising and monitoring system for indoor and outdoor
              surveillance and security.
            </p>
            <button (click)="gotoLocation('products')" class="btn btn-primary">Learn More</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><i class="fa fa-fw fa-compass"></i> Services</h4>
          </div>
          <div class="panel-body">
            <p>   Auto Sec systems Research and development the Campus network and Industrial standard network for India Industrial low cost service and solutions for security system. We will provide wireless network solution and services.</p>
            <button (click)="gotoLocation('services')" class="btn btn-primary">Learn More</button>
          </div>
        </div>
      </div>
    </div>

    <!-- /.row -->
  </div>
